body {
  background: #fff;
  padding: 50px;
  font: 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

.wrapper {
  width: 860px;
  margin: 0 auto;
}

header {
  width: 220px;
  float: left;
  position: fixed;
}

section {
  width: 580px;
  float: right;
  padding-bottom: 50px;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

a {
  color: #267CB9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 24px 0;
}

img {
  max-width: 100%;
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header, section {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 0;
  }

  section {
    border-width: 1px 0 0;
    padding: 20px 0 0;
    margin: 20px 0 0;
  }
}
